<div class="container m-6">
  <div class="card">
    <h2> Dear <%= @purchase.user.name %> </h2>
    <h1> Thank you for your purchase </h1>
    <i class="far fa-check-circle"></i>
    <p> <%= @purchase.hair.user.name %> will get in touch with you to arrange the payment and delivery of their hair.</p>
  </div>
</div>
