.navbar-lewagon {
  justify-content: space-between;
  background: #E67E22;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 100px;
}

.nav-link {
  color: whte;
  padding: 8px 24px;
  border-radius: 6px;
  font-weight: bold;
  background: -webkit-linear-gradient(dark-blue, black);
  background: -o-linear-gradient(dark-blue, black);
  background: linear-gradient(dark-blue, black);
  transition: background 1s ease;
  border: 1px solid white;
}

.home_page {
  background: linear-gradient(black, black);
}

.avatar {
  width: 74% !important;
  height : 74% !important;
  max-width: 100px !important;
  max-height: 100px !important;
}
